### Final Project Notebook
#### Abe Eldo and Luke Tola

In [2]:
import pandas as pd

df = pd.read_csv("https://data.wprdc.org/datastore/dump/9aa6f92f-aa06-48d2-8303-88b5bc398236")
df.head()

,_id,field_name,x,y,objectid,area,perimeter,ballfields,ballfiel_1,id,polygonid,scale,angle,point_x,point_y,dpw_name,cityid,active
0,5809,McBride Park,-8.895293e+06,4.919709e+06,1,0.0,0.0,1.0,1.0,72,0.0,0.0,0.0,1.367323e+06,384617.783181,Mcbride,P345,Yes
1,5810,Carmalt School,-8.906278e+06,4.922279e+06,2,0.0,0.0,2.0,2.0,27,0.0,0.0,0.0,1.339998e+06,391710.738812,Carmalt,P299,Yes
2,5811,Sam Bryan 2,-8.906325e+06,4.922698e+06,3,0.0,0.0,3.0,3.0,24,0.0,0.0,0.0,1.339906e+06,392756.625499,Sam Bryen #2,P394,Yes
3,5812,Sam Bryan 1,-8.906344e+06,4.922737e+06,4,0.0,0.0,4.0,4.0,23,0.0,0.0,0.0,1.339862e+06,392855.383504,Sam Bryen #1,P296,Yes
4,5813,Brookline T-Ball,-8.906359e+06,4.922846e+06,5,0.0,0.0,5.0,5.0,22,0.0,0.0,0.0,1.339832e+06,393127.716293,Officer Stephen J. Mayhle Memorial Park,P295,Yes